.product-preview-container ul{
    display: inline-block;
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.non-style-list {
    list-style-type: none;
}

.product-preview-container ul li {
    text-align: center;
}

.product-preview-container ul li input[type=submit] {
    border: 1px solid grey;
    width: 140px;
    height: 30px;
    color: white;
    background-color: orange;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-preview-container ul li a{
    text-decoration: none ;
}

.product-preview-container ul li img {
    width: 200px;
    height: 200px;
    border-bottom: 1px solid gray;
}

.product-info {
    float: left;
    margin-left: 30px;

}