<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../resources/css/style.css}">
    <script>
        function changeNumberOfProduct(code, number) {
            window.location.href = '/cart/change?number=' + number + '&code=' + code;
        }
    </script>
</head>
<body>
    <a th:href="@{/products}">Shopping</a>
    <form th:action="@{/cart/checkout}" method="post">
        <table>
            <tr>
                <th th:text="${'Card Info ' + '('+ cart.getSize()} + ')'"></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="prod : ${cart.getProducts()}">
                <td><a th:href="@{/cart/{code}/delete(code=${prod.getCode()})}" style="display: block">x</a>
                    <img style="width: 200px; height: 200px" th:src="@{'../../resources/images/' + ${prod.getImage()} + '.jpg'}"/>
                </td>
                <td>
                    <ul class="non-style-list">
                        <li th:text="${prod.getName()}"></li>
                        <li>Product code:</li>
                        <li>Price:</li>
                        <li>Number:</li>
                    </ul>
                </td>
                <td>
                    <ul class="non-style-list" th:object="${prod}">
                        <li>Info</li>
                        <li th:text="*{code}"></li>
                        <li th:text="*{price}"></li>
                        <li>
                            <select th:onchange="'changeNumberOfProduct(\'' + ${prod.getCode()} + '\',' + this.value + ');'">
                                <option th:each="n : ${#numbers.sequence(1, 5)}"
                                        th:value="${n}"
                                        th:text="${n}"
                                        th:selected="(${n} == *{number})">
                                </option>
                            </select>
                        </li>
                    </ul>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <input th:if="${cart.getSize() > 0}" type="submit" value="Checkout"/>
    </form>
</body>
</html>