<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link th:href="@{../../resources/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
    <a th:href="@{/cart}">Go to Cart</a>
    <body>
        <h3>Product List</h3>
        <div class="product-preview-container">
            <ul th:each="product : ${products}">
                <li><img th:src="@{'~/resources/images/' + ${product.getImage()}+ '.jpg'}"></li>
                <li><a th:text="${product.getName()}" th:href="@{/products/{code}/view(code=${product.getCode()})}"></a></li>
                <li>
                    <a style="text-decoration: line-through"><th:block th:text="${product.getOldPrice()}"></th:block></a>
                    <a style="color: red"><th:block th:text="${product.getPrice()}"></th:block></a>
                </li>
            </ul>
        </div>
    </body>
</html>