<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../resources/css/style.css}">
</head>
<body>
    <h3>Product Detail</h3>
    <a th:href="@{/products}">Shopping</a>
    <form method="post" th:action="@{/cart/addCart/{code}(code=${product.getCode()})}" th:object="${product}">
        <div style="float: left" class="product-preview-container">
            <ul>
                <li><img th:src="@{'~/resources/images/' + ${product.getImage()} + '.jpg'}"></li>
                <li style="border-bottom: 1px solid gray">
                    <a>Product code:</a>
                    <a style="color: green" th:text="${product.getCode()}"></a>
                </li>
                <li>
                    <a style="text-decoration: line-through" th:text="'Old Price: ' + ${product.getOldPrice()}"></a>
                </li>
                <li>
                    <a>New Price:</a>
                    <a style="color: red" th:text="${product.getPrice()}"></a>
                </li>
                <li>
                    <input type="submit" value="Buy Now"/>
                </li>
            </ul>
        </div>
        <div class="product-info">
            <a th:text="${product.getName()}"></a>
            </br>
            <a style="border-top: 1px solid grey">Banner with price 200.000</a>
        </div>
    </form>
</body>
</html>